:root {
  color-scheme: light dark;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

#app {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

:not(:defined) {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: rgb(33 53 71);
    background-color: rgb(255 255 255);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: rgb(255 255 255 / 87%);
    background-color: rgb(36 36 36);
  }
}
