.badge {
  display: inline-flex;
  align-items: center;
  color: var(--c-black);
  font-size: 14px;
  font-weight: 600;
  height: 1.6em;
  line-height: 1;
  border-radius: 2px;
  padding: 0 6px;
  vertical-align: top;
}

.badge.tip {
  background-color: rgba(90 250 175 / 30%);
}

html.dark .badge.tip {
  background-color: var(--c-brand);
}

.badge.warning {
  background-color: rgba(255 229 100 / 30%);
}

html.dark .badge.warning {
  background-color: rgb(252 211 77);
}

.badge.danger {
  background-color: rgb(255 230 230);
}

html.dark .badge.danger {
  background-color: rgb(250 100 100);
}
