.VPButton.brand {
  transition: all 250ms;
}

.VPButton.brand:hover {
  box-shadow: 0 0 20px rgb(var(--minze-c-mint-1-values) / 50%);
  filter: hue-rotate(25deg);
}

.VPButton.brand:active {
  filter: hue-rotate(-10deg);
}

html:not(.dark) .VPButton.brand {
  background: linear-gradient(
    45deg,
    var(--minze-c-teal-2) 0%,
    var(--minze-c-mint-2) 100%
  );
}

html.dark .VPButton.brand {
  background: linear-gradient(
    45deg,
    var(--minze-c-teal-1) 0%,
    var(--minze-c-mint-1) 100%
  );
}
