[class*='language-'] pre,
[class*='language-'] code {
  color: rgb(220 220 220);
}

html.dark .highlight-lines .highlighted {
  background-color: rgba(0, 0, 0, 0.15);
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: rgb(150 150 150);
}

.token.punctuation {
  color: rgb(170 170 170);
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: rgb(248 113 113);
}

.token.function-name {
  color: rgb(147 197 253);
}

.token.boolean,
.token.number,
.token.function {
  color: rgb(251 146 60);
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: rgb(252 211 77);
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: rgb(240 158 252);
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: rgb(110 231 183);
}

.token.operator,
.token.entity,
.token.url {
  color: rgb(34 211 238);
}
