html.dark .DocSearch {
  --docsearch-text-color: var(--c-white-dark);
  --docsearch-container-background: rgba(10, 10, 10, 0.7);
  --docsearch-modal-background: var(--c-black);
  --docsearch-modal-shadow: inset 1px 1px 0 0 #2c2e40, 0 3px 8px 0 #000309;
  --docsearch-searchbox-background: var(--c-black-lighter);
  --docsearch-searchbox-focus-background: var(--c-black-light);
  --docsearch-hit-color: var(--c-text-dark-1);
  --docsearch-hit-active-color: var(--c-brand-text);
  --docsearch-hit-shadow: none;
  --docsearch-hit-background: var(--c-black-light);
  --docsearch-key-gradient: linear-gradient(-26.5deg, #6b6b6b, #494949);
  --docsearch-key-shadow: inset 0 -2px 0 0 #313131, inset 0 0 1px 1px #535353,
    0 2px 2px 0 rgba(10, 10, 10, 0.3);
  --docsearch-footer-background: var(--c-black-light);
  --docsearch-footer-shadow: inset 0 1px 0 0 rgba(80, 80, 80, 0.5),
    0 -4px 8px 0 rgba(0, 0, 0, 0.2);
  --docsearch-logo-color: var(--c-white-dark);
  --docsearch-muted-color: var(--c-text-dark-1);
}
