::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--vp-c-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--vp-c-gray-light-4);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--vp-c-gray-light-3);
}

[class^='language-'] ::-webkit-scrollbar-track {
  background: transparent;
}

html:not(.dark) [class^='language-'] ::-webkit-scrollbar-thumb {
  background: rgb(91 95 112);
}

html:not(.dark) [class^='language-'] ::-webkit-scrollbar-thumb:hover {
  background: rgb(121 125 132);
}

html.dark ::-webkit-scrollbar-thumb {
  background: var(--vp-c-gray-dark-3);
}

html.dark ::-webkit-scrollbar-thumb:hover {
  background: var(--vp-c-gray-dark-2);
}

::-webkit-scrollbar-corner {
  background: transparent;
}
