:root {
  /* teal */
  --minze-c-teal-1-values: 80 220 200;
  --minze-c-teal-2-values: 50 250 220;
  --minze-c-teal-3-values: 160 255 240;

  --minze-c-teal-1: rgb(var(--minze-c-teal-1-values));
  --minze-c-teal-2: rgb(var(--minze-c-teal-2-values));
  --minze-c-teal-3: rgb(var(--minze-c-teal-3-values));
  --minze-c-teal-soft: rgb(var(--minze-c-teal-1-values) / 14%);

  /* mint */
  --minze-c-mint-1-values: 60 220 150;
  --minze-c-mint-2-values: 50 255 160;
  --minze-c-mint-3-values: 140 255 200;

  --minze-c-mint-1: rgb(var(--minze-c-mint-1-values));
  --minze-c-mint-2: rgb(var(--minze-c-mint-2-values));
  --minze-c-mint-3: rgb(var(--minze-c-mint-3-values));
  --minze-c-mint-soft: rgb(var(--minze-c-mint-1-values) / 14%);

  /* brand */
  --vp-c-brand-1: var(--vp-c-neutral);
  --vp-c-brand-2: var(--vp-c-text-2);
  --vp-c-brand-3: var(--minze-c-mint-2);
  --vp-c-brand-soft: var(--minze-c-mint-soft);

  /* button */
  --vp-button-brand-text: var(--vp-c-black);
  --vp-button-brand-hover-text: var(--vp-c-black);
  --vp-button-brand-active-text: var(--vp-c-black);

  --vp-button-brand-bg: var(--minze-c-mint-2);
  --vp-button-brand-hover-bg: var(--minze-c-mint-2);

  --vp-button-brand-border: var(--minze-c-mint-3);
  --vp-button-brand-hover-border: var(--minze-c-mint-3);

  /* hero */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(
    45deg,
    var(--minze-c-teal-1) 0%,
    var(--minze-c-mint-1) 60%
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    rgb(var(--minze-c-mint-1-values) / 100%) 50%,
    rgb(var(--minze-c-teal-1-values) / 100%) 50%
  );
  --vp-home-hero-image-filter: blur(6rem);
}

:root.dark {
  /* brand */
  --vp-c-brand-1: var(--minze-c-mint-1);
  --vp-c-brand-2: var(--minze-c-mint-2);
  --vp-c-brand-3: var(--minze-c-mint-3);
  --vp-c-brand-soft: var(--minze-c-mint-soft);

  /* button */
  --vp-button-brand-border: var(--minze-c-mint-1);
  --vp-button-brand-hover-border: var(--minze-c-mint-1);

  /* hero */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(
    45deg,
    var(--minze-c-teal-1) 0%,
    var(--minze-c-mint-3) 100%
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    rgb(var(--minze-c-mint-1-values) / 45%) 50%,
    rgb(var(--minze-c-teal-1-values) / 45%) 50%
  );
}
