:root {
  /* teal */
  --minze-c-teal-darkest-values: 50 70 60;
  --minze-c-teal-darker-values: 80 130 120;
  --minze-c-teal-dark-values: 90 170 160;
  --minze-c-teal-values: 80 220 200;
  --minze-c-teal-light-values: 50 250 220;
  --minze-c-teal-lighter-values: 160 255 240;
  --minze-c-teal-lightest-values: 210 255 245;

  --minze-c-teal-darkest: rgb(var(--minze-c-teal-darkest-values));
  --minze-c-teal-darker: rgb(var(--minze-c-teal-darker-values));
  --minze-c-teal-dark: rgb(var(--minze-c-teal-dark-values));
  --minze-c-teal: rgb(var(--minze-c-teal-values));
  --minze-c-teal-light: rgb(var(--minze-c-teal-light-values));
  --minze-c-teal-lighter: rgb(var(--minze-c-teal-lighter-values));
  --minze-c-teal-lightest: rgb(var(--minze-c-teal-lightest-values));

  /* mint */
  --minze-c-mint-darkest-values: 40 60 50;
  --minze-c-mint-darker-values: 50 120 90;
  --minze-c-mint-dark-values: 80 180 140;
  --minze-c-mint-values: 60 220 150;
  --minze-c-mint-light-values: 50 255 160;
  --minze-c-mint-lighter-values: 140 255 200;
  --minze-c-mint-lightest-values: 200 255 240;

  --minze-c-mint-darkest: rgb(var(--minze-c-mint-darkest-values));
  --minze-c-mint-darker: rgb(var(--minze-c-mint-darker-values));
  --minze-c-mint-dark: rgb(var(--minze-c-mint-dark-values));
  --minze-c-mint: rgb(var(--minze-c-mint-values));
  --minze-c-mint-light: rgb(var(--minze-c-mint-light-values));
  --minze-c-mint-lighter: rgb(var(--minze-c-mint-lighter-values));
  --minze-c-mint-lightest: rgb(var(--minze-c-mint-lightest-values));

  /* brand */
  --vp-c-brand-darker: var(--minze-c-mint-darker);
  --vp-c-brand-dark: var(--minze-c-mint-dark);
  --vp-c-brand: var(--minze-c-mint-dark);
  --vp-c-brand-light: var(--minze-c-mint-light);
  --vp-c-brand-lighter: var(--minze-c-mint-lighter);

  /* button */
  --vp-button-brand-text: var(--minze-c-mint-darkest);
  --vp-button-brand-hover-text: var(--minze-c-mint-darkest);
  --vp-button-brand-active-text: var(--minze-c-mint-darkest);

  --vp-button-brand-bg: var(--minze-c-mint-light);
  --vp-button-brand-hover-bg: var(--minze-c-mint);

  --vp-button-brand-border: var(--minze-c-mint-light);
  --vp-button-brand-hover-border: var(--minze-c-mint-light);

  /* hero */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(
    45deg,
    var(--minze-c-teal) 0%,
    var(--minze-c-mint) 60%
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    rgb(var(--minze-c-mint-values) / 100%) 50%,
    rgb(var(--minze-c-teal-values) / 100%) 50%
  );
  --vp-home-hero-image-filter: blur(6rem);
}

:root.dark {
  /* brand */
  --vp-c-brand: var(--minze-c-mint);

  /* button */
  --vp-button-brand-border: var(--minze-c-mint);
  --vp-button-brand-hover-border: var(--minze-c-mint);

  /* hero */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(
    45deg,
    var(--minze-c-teal-light) 0%,
    var(--minze-c-mint-light) 100%
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    rgb(var(--minze-c-mint-dark-values) / 60%) 50%,
    rgb(var(--minze-c-teal-dark-values) / 60%) 50%
  );
}
