:root {
  --c-link: rgb(0, 0, 0);
  --c-brand-dark: rgb(45 80 60);
  --c-brand: rgb(90 250 175);
  --c-brand-light: rgb(110 255 195);
}

blockquote {
  color: rgb(120, 120, 120);
}

.nav-bar .logo {
  height: 25px;
  margin-right: 4px;
}

/* home buttons */
.action .item {
  color: var(--c-brand-dark) !important;
}

/* sidebar */
a.sidebar-link-item.active {
  color: var(--c-link);
}

a.sidebar-link-item:not(.active):hover {
  color: var(--c-link);
  text-decoration: underline;
}

/* nav dropdown link */
.nav-dropdown-link-item a.item:hover {
  color: var(--c-link);
  text-decoration: underline;
}

/* content links */
.content p a,
.content ul a,
.content ol a {
  color: var(--c-text);
  text-decoration: underline;
}

.content p a:hover,
.content ul a:hover,
.content ol a:hover {
  color: var(--c-link);
}

/* suggest changes link */
.edit-link a.link:hover {
  color: var(--c-link);
  text-decoration: underline;
}

/* pagination */
.next-and-prev-link a {
  color: var(--c-link);
}
