* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  padding: 1rem;
  margin: 0;
}

@media (prefers-color-scheme: light) {
  body {
    background: rgb(250 250 250);
    color: rgb(50 50 50);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: rgb(30 30 30);
    color: rgb(220 220 220);
  }
}
